.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.empty {
  height: 80vh;
  width: 100%;
  border: solid 1px black;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  font-size: 3vw;
}

.empty h2 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.linkToShop {
  background-color: green;
  color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
  &:hover {
    background-color: darkgreen;
  }
}
