.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.clientData {
  height: 85vh;
  border: solid 1px black;
  border-radius: 5px;
  padding: 30px 80px 50px 30px;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  height: 30px;
  border-radius: 5px;
}

.btnSubmit {
  width: 160px;
  background-color: green;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
